/* Color Token */

:root {
  --color-primary: #0039a6;
  --color-secondary: #ff570a;
  --color-background: #171717;
  /* --color-primary-shades-100: #aacbee;
  --color-primary-shades-300: #448cda;
  --color-primary-shades-500: #1b5088; */
  --color-primary-shades-700: #33444d;
  --color-grey-shades-100-a: rgba(247, 247, 247, 0.25);
  --color-grey-shades-100: #f7f7f7;
  --color-grey-shades-300: #dadfe7;
  --color-grey-shades-500: #bbbfcc;
  --color-grey-shades-700: #9a9ea9;
  --color-white: #f7f7f8;
  --color-black: #212121;
}
