/* @import url("https://rsms.me/inter/inter.css"); */

:root {
  --font-primary: Inter, "SF Pro Display", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  --font-secondary: Georgia, serif;
  --font-tertiary: Courier, Menlo, Consolas, Monaco, "Lucida Console", monospace;
  --font-weight-bold: 600;
  --font-weight-regular: 400;
  --font-size-3xl: calc(var(--font-size-base) * 6 * var(--font-scale-ratio));
  --font-size-2xl: calc(var(--font-size-base) * 3 * var(--font-scale-ratio));
  --font-size-xl: calc(var(--font-size-base) * 2 * var(--font-scale-ratio));
  --font-size-l: calc(var(--font-size-base) * 1.5 * var(--font-scale-ratio));
  --font-size-m: calc(var(--font-size-base) * 1.3 * var(--font-scale-ratio));
  --font-size-s: calc(var(--font-size-base) * 1 * var(--font-scale-ratio));
  --font-size-xs: calc(var(--font-size-base) * 0.8 * var(--font-scale-ratio));
  --font-size-2xs: calc(var(--font-size-base) * 0.7 * var(--font-scale-ratio));
  --font-size-root: 100;
  --font-size-base: 18px;
  --font-size-small: 16px;
  --font-base-line-height: 1.5;
  --font-scale-ratio: 1;
  --font-small-letter-spacing: 0.1em;
  --font-leading: cal(
    cal(16 * (var(--font-size-root) / 100)) * var(--font-base-line-height)
  );
}

@media only screen and (max-width: 768px) {
  :root {
    --font-size-base: 16px;
    --font-scale-ratio: 0.9;
    --var-padding-l: 3rem;
    --var-padding-m: 1rem;
    --var-padding-s: 0.5rem;
  }
}
